**/node_modules/
**/.idea/
**/dist/
dist-mac/
**/.claude-trace/
./dist
./src/embed/frontend/
/src/embed/frontend/
!./src/embed/frontend/.gitkeep
./src/embed/config-schema.json
./src/embed/openocta.json.example
./ui/.idea/
./src/.claude/
./src/.idea/
./src/.claude-trace/
./.claude-trace/
./.idea/
./openocta
.DS_Store
./docs/
__screenshots__
./src/build/
testskills/
.claude/
ClAUDE.md
/src/test
